@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "pudding-reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);


/* 	--bgcolor: #DFDEFC; */
--bgcolor: #ede4f0;
--fullyaccurate: #42baff;
--partiallyaccurate: #dbaf00;
--fullyinaccurate: #ff668d;
--fullyaccuratebg: #6bc9ff;
--partiallyaccuratebg: #ffe580;
--fullyinaccuratebg: #ffa1b2;
--hl-border: #e6c72c;
--hl-text: #edd34c;
--text-color: #463d4a;
--textbox-bg: #E9D4EC;
--textbox-bg-comic: #d3b7eb;
	--intro-bg: #3b2738;
/* --intro-bg: #ede4f0; */
--panel-bg: #1f0817;
/* 	--step-bg: rgb(181, 171, 224); */
--step-bg: #ddd3e0;
/* "1" second duration */
--1s: 1ms;
}

/* dark theme */
/* this is a starting place for dark mode - test before deploying */

/* @media screen and (prefers-color-scheme:dark) {
	:root {
		--color-bg: var(--color-gray-900);
		--color-fg: var(--color-gray-100);
		--color-primary: var(--color-white);
		--color-link: var(--color-white);
		--color-focus: var(--color-red);
		--color-mark: var(--color-yellow);
		--color-selection: var(--color-gray-600);
		--color-border: var(--color-gray-600);
		--color-button-bg: var(--color-gray-600);
		--color-button-fg: var(--color-gray-100);
		--color-button-hover: var(--color-gray-700);
		--color-input-bg: var(--color-gray-800);
		--color-input-fg: var(--color-gray-100);
		--color-placeholder: var(--color-gray-400);
		--color-text-outline: var(--color-bg);
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
	
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

p {
	font-size: var(--17px, 17px);
	font-family: var(--sans);
	color:black;
	text-align: left;
	line-height: 1.6rem;
}
body, html {
	background: var(--bgcolor);
}
.visualContainer {
	position: sticky;
	height: 100vh;
	top: 10px;
	left: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* step = each individual scrolly box */
.step {
	padding-top: 20vh;
	height: 120vh;
	max-width: 30rem;
	margin: 0px auto;
	pointer-events: none;
}
.step a {
	pointer-events: auto;
}
.stepText {
	background: var(--step-bg);
	border: 1px solid #aaa;
	text-align: left;
	padding: 1rem;
	position: relative; /* Makes sure z-index works correctly */
	opacity: 1; /* Ensure text is fully opaque */
}
.pad {
	height: 100vh; /* Spacing between steps. 100vh = full viewport height */
}

h2 {
	font-size: 20px;
	line-height: 25px;
	margin: 0px;
	color:  rgb(55, 17, 82);
}
h3 {
	color:  rgb(55, 17, 82);
	font-size: 17px;
	line-height:  20px;
	margin:  10px 0;
	font-weight: normal;
}
figcaption {
	margin-top: 10px;
	font-size: 13px;
	color:  rgba(55, 17, 82,0.8);
	font-family: var(--sans); /* Use the font from app.css */
	width: 100%;
}
figure img {
	width: 100%;
}


.stepText p span {
	background:  var(--hl-text);
	font-weight: bold;
	padding: 0 3px;
	font-weight: bold;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone; /* For Safari support */
	padding: 1px 2px; /* Optional: gives some breathing room */
	border-radius: 2px;
}

.stepText p span.accurate {
	background: var(--fullyaccuratebg) !important;

}
.stepText p span.partial_accurate {
	background:  var(--partiallyaccuratebg) !important;
}
.stepText p span.fully_inaccurate {
	background:  var(--fullyinaccuratebg) !important;
}


.textContainer p {
	font-size:  17px;
	line-height: 25px;
}
.textContainer.small p {
	font-size:  14px;
	line-height: 19px;
	opacity: 0.8;
}

#story p a {
	text-decoration: none;
	border-bottom: 1px dotted var(--text-color);
}


.tooltip {
	width: 260px;
	overflow: hidden;
}
.tooltip .movieTitle {
	font-size: 13px;
	line-height: 15px;
	font-weight: bold !important;
	text-transform: uppercase;
}
.tooltip .row {
	border-bottom: 0.5px solid #aaa;
}
.tooltip .row.header {
	line-height: 12px;
	border-bottom: 2px solid #eee;
}
.tooltip .row td {
	padding: 4px 3px 6px 0px;
}
.tooltip .row:last-child {
	border: none;
}
.start .tooltip span {
	display:  none !important;
}
.end .tooltip .row td.character {
	color: var(--fullyaccurate);
}
.end .tooltip .row.inaccurate td.character {
	color: var(--fullyinaccurate);
}
.tooltip .value {
	line-height: 13px;
}
